@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Questrial&display=swap");

@import url("./installation.css");

:root {
  --color-primary: #10b981;
  --color-secondary: #111827;
  --color-tertiary: #6b7280;
  --color-white: #ffffff;
  --color-foreground: #fafaf9;
  --color-background: #111827;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  color: var(--color-foreground);
  background: var(--color-background);
  margin: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 30px;
  height: 100vh;
  max-width: 950px;
  grid-template-areas:
    "header "
    "main "
    "footer ";
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
  background: var(--color-background);
  color: var(--color-foreground);
  grid-area: header;
}

.nav-title {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-title a {
  color: var(--color-foreground);
}

.nav-title a:hover {
  text-decoration: none;
}

.nav-title .text-sm {
  font-size: 0.6rem;
  color: var(--color-tertiary);
}

.nav-pills > * {
  margin: 0 0.3rem;
  color: var(--color-foreground);
}

.hero {
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  grid-area: main;
  margin: auto 2rem;
}

.hero-title {
  font-family: "Arvo", serif;
}

.hero-subtitle {
  font-size: 1.25rem;
  color: var(--color-tertiary);
}

.hero-btns .btn-github {
  background: #333;
  color: var(--color-foreground);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.hero-btns .btn-github:hover {
  opacity: 0.9;
}

.hero .btn-docs {
  background: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.hero-btns .btn-docs:hover {
  opacity: 0.85;
}

footer {
  text-align: center;
  grid-area: footer;
  font-size: 0.9rem;
}

footer .text-highlight a {
  color: var(--color-foreground);
}

/* with sidebar */

.container-doc {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 50px 1fr 30px;
  height: 100vh;
  max-width: 950px;
  margin: auto;
  grid-template-areas:
    "header header"
    "aside main "
    "footer footer";
}

aside {
  grid-area: aside;
  background: var(--color-background);
  color: var(--color-secondary);
  /* border: 1px solid; */
  font-size: small;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* scrollbar */

aside::-webkit-scrollbar {
  width: 3px;
}

aside::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto 0.5rem;
}

.sidebar-lists a {
  margin: 0.5rem 0rem;
  color: var(--color-secondary);
}

.sidebar-lists a:hover {
  color: var(--color-primary);
}

.sidebar-lists .sidebar-title {
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid;
}

@media only screen and (max-width: 600px) {
  .container-doc {
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  aside {
    display: none;
  }
}
