<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <script
      src="https://kit.fontawesome.com/1a48924413.js"
      crossorigin="anonymous"
    ></script>
    <title>Quiz | Utopia</title>
    <link
      rel="shortcut icon"
      href="../assets/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body class="container-main">
    <nav class="nav"></nav>
    <main class="quiz-container">
      <h2 class="quiz-title">Potterheads Quiz</h2>
      <div class="quiz-info">
        <p>Question: 1/5</p>
        <p>Score: 0</p>
      </div>
      <div class="question-body">
        <p class="quiz-question">
          First things first an easy one, what is the name of the first book?
        </p>
        <div class="quiz-options">
          <div class="quiz-card">Harry Potter</div>
          <div class="quiz-card">Harry Potter and the Philosopher's Stone</div>
          <div class="quiz-card">Harry Potter and the Chamber of Secrets</div>
          <div class="quiz-card">Harry Potter and the Prisoner of Azkaban</div>
        </div>
        <div class="quiz-question-next">
          <a href="./results.html"
            >Next <span><i class="fas fa-chevron-right"></i></span
          ></a>
        </div>
      </div>
    </main>
    <script src="../nav.js"></script>
  </body>
</html>
